@keyframes faceMovement {
    0% {
        top: 135px;
    }
    100% {
        top: 140px;
    }
}
@keyframes bodyMovement {
    0% {
        bottom: -60px;
    }
    100% {
        bottom: -50px;
    }
}
@keyframes squashMovement {
    0% {
        height: 100%;
    }
    100% {
        height: 95%;
    }
}
@mixin animationLoopMovement($name, $speed, $easing) {
    animation-name: $name;
    animation-iteration-count: infinite;
    animation-timing-function: $easing;
    animation-direction: alternate-reverse;
    animation-duration: $speed;
}

.dude-enter {
    opacity: 0.01;
    right: -450px;
    position: relative;
    bottom: 0;
}
.dude-enter.dude-enter-active {
    opacity: 1;
    transition: all 500ms ease;
    right: -143px;
}
// .dude-enter-done {
//     opacity: 0.01;
//     transition: all 300ms ease-in;
//     right: -450px;
//     position: absolute;
//     bottom: 0;
// }