@import './components/koder';
@import './components/animations.scss';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    padding: 0;
    margin: 0;
    overflow: hidden;

    * {
        font-family: 'VT323', monospace;
    }
    .App {
        .users {
            display: flex;
            justify-content: flex-end;
            height: 100vh;
        }
    }
}